html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.navbar, .footer {
    background-color: #135ebf!important;
}

.navbar a {
    color: white!important;
}

.footer, .footer a {
    color: white!important;
}

/* MEAL PLAN PAGE */
.btn-search {
    display: block;
    width: 100%;
}

.select2-container {
    width: 100%!important;
}

.select2-selection {
    border: 1px solid #ced4da!important;
    min-height: 38px!important;
}

.results-table tr:hover {
    cursor: pointer;
}